body {
    color: #82a5ca;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
}

.btn {
    padding: 6px 12px;
    background: white;
    border: none;
    border-radius: 4px;
    font-family: inherit;
    color: #82a5ca;
    font-weight: 800;
}
.spn {
    border-bottom: 4px solid white;
}
#spa-logo {
    width: 100px;
}
#back {
    background-size: cover;
    background-image: url("img/giphy.gif");
    padding: 10px 0 40px;
}
#shad {
        text-shadow: 0px 0px 4px black;
}